.searchbar form{
    display: flex;
    align-items: center;
}

.searchbar input{
    margin-left: 10px;
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1199px){
    /* .searchbar input{
        display: none;
    } */

    .search-icon{
        padding: auto;
    }
}